.btn-left,
.btn-right {
    position: fixed;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.site,
.playstore {
    position: relative;
    bottom: 5px;
    padding: 1px 1px;
    background-color: #217cdd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 8px;
}

.btn-left {
    left: 20px;
}

.btn-right {
    right: 20px;
}
a{
    text-decoration: none;
    color: #fff;
}
p{
    font-size: 30px;
}