body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    margin: 0;
  }
  
  section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
  }
  
  h2 {
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  figure {
    margin: 0 auto;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border-radius: 5px;
  }
  
  figcaption {
    margin-top: 5px;
  }
  
  .btn-left, .btn-right {
    display: inline-block;
    margin: 20px 10px;
    padding: 10px 20px;
    background-color: #c7c4c4;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .btn-left:hover, .btn-right:hover {
    background-color: #c5c5c5;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Alterar a cor da fonte dos botões */
  .btn-left, .btn-right {
    color: #fff;
  }
  